Repository wjkoh/nix-config: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, check-yaml

nix-fmt:
  run: nix fmt {staged_files}

check-yaml:
  run: yamllint {staged_files}

docs: polish README.md and add installation instructions
  README.md
Due: none

refactor: extract GEMINI.md to GEMINI_root.md and configure jj nvim merge tool
  modules/home/GEMINI_root.md
  modules/home/core.nix
Due: nix-fmt

feat(aerospace): use lowercase id for Apple Journal
  hosts/mbp-14/aerospace.nix
Due: nix-fmt

chore: use explicit master branch for nix-darwin
  flake.lock
  flake.nix
Due: nix-fmt

feat(aerospace): assign maps to N and weather to O
  flake.lock
  flake.nix
  hosts/mbp-14/aerospace.nix
Due: nix-fmt

feat(aerospace): assign maps to N and weather to O
  hosts/mbp-14/aerospace.nix
Due: nix-fmt

chore: streamline Gemini workflow for jj
  modules/home/GEMINI_root.md
Due: none

feat(aerospace): reorganize workspaces with activity-based mnemonics
  hosts/mbp-14/aerospace.nix
Due: nix-fmt

docs: add Raycast guide and install Stats
  README.md
  hosts/mbp-14/configuration.nix
  raycast_guide.md
Due: nix-fmt

docs: update workflow in GEMINI_root.md and remove Stats from raycast_guide
  modules/home/GEMINI_root.md
  raycast_guide.md
Due: none

docs: add jj troubleshooting note to GEMINI_root.md
  modules/home/GEMINI_root.md
Due: none

home: configure lazyjj to use delta for diffs
  modules/home/core.nix
Due: nix-fmt

home: hide karabiner menu bar icon
  modules/home/karabiner.nix
Due: nix-fmt

fix(home): move karabiner show_in_menu_bar to global config
  modules/home/karabiner.nix
Due: nix-fmt

feat(home): refactor lazy tools and update configs
  modules/home/GEMINI_root.md
  modules/home/core.nix
  modules/home/gui.nix
Due: nix-fmt

docs: prioritize atomic commits and incremental workflow in GEMINI_root.md
  modules/home/GEMINI_root.md
Due: none

docs: rewrite GEMINI_root.md for clarity and structure
  modules/home/GEMINI_root.md
Due: none

Update the yubikey-recover command
  Taskfile.yml
Due: check-yaml

Update Trezor Suite app ID in Aerospace config
  hosts/mbp-14/aerospace.nix
Due: nix-fmt

Disable all hot corners for mbp-14
  hosts/mbp-14/configuration.nix
Due: nix-fmt

home/core: enable syncthing service
  modules/home/core.nix
Due: nix-fmt

home/core: configure syncthing declaratively with muos folders
  modules/home/core.nix
Due: nix-fmt

home/core: enable TUI mode for glow by default
  modules/home/core.nix
Due: nix-fmt

Use gemini-3-pro-preview
  modules/home/GEMINI_root.md
  modules/home/core.nix
Due: nix-fmt

home/core: use correct config path for glow on Linux
  modules/home/core.nix
Due: nix-fmt

Replace Zellij with Shpool on z2-mini
  README.md
  hosts/z2-mini/home.nix
  modules/home/core.nix
Due: nix-fmt

home/core: configure starship for shpool and ensure huponexit
  modules/home/core.nix
Due: nix-fmt

home/core: use env_var for shpool session name in starship
  hosts/z2-mini/configuration.nix
  hosts/z2-mini/home.nix
  modules/home/core.nix
Due: nix-fmt

home/core: enclose shpool session name in brackets
  modules/home/core.nix
Due: nix-fmt

home/core: fix starship syntax for shpool and deprecation warning
  modules/home/core.nix
Due: nix-fmt

home/core: double-escape brackets for starship prompt
  modules/home/core.nix
Due: nix-fmt

home/core: set terminal title with shpool session name
  modules/home/core.nix
Due: nix-fmt

home/core: update gemini model and remove git/docker aliases
  modules/home/GEMINI_root.md
  modules/home/core.nix
Due: nix-fmt

hosts/z2-mini/home: configure shpool to forward SSH env vars
  hosts/z2-mini/home.nix
Due: nix-fmt

docs: add timestamp rule for new documents to GEMINI_root.md
  modules/home/GEMINI_root.md
Due: none

docs: add code verification and formatting rules to GEMINI_root.md
  modules/home/GEMINI_root.md
Due: none

Path conditions:
  nix-fmt: any of: *.nix
  check-yaml: any of: *.{yaml,yml}
